html, body {
	height:100%;
	overflow: scroll;
}

/*
* Bottom-Bar template
*/
.glyphicon {
	font-size:30px !important;
	cursor:pointer;
}
.glyphicon:hover {
	color:brown;
	transition:0.7s ease;
}
.glyphicon:first-child {
    margin-right: 20px;
} 
.bottom-bar {
	min-height: auto;
}
.bottom-menu {
	width: 100px;
    margin: 0 auto;
    margin-top: 5px;	
}
.erase {
    float: left;
    padding-top: 5px;
    top: 0px;
    padding-left: 5px;
}
.envelope {
	float: right;
    padding-top: 5px;
    top: 0px;
    padding-right: 5px;
}

/*
* Top-Bar template
*/
.nav {
	float:left;
}
.navbar {
	margin-bottom: 0px !important;
}
.nav li {
	display: inline-block;
}
.nav>li>a {
	padding: 10px 10px;
}
.navbar-nav {
	margin-left:20px;
}
.navbar-header a {
	padding-right: 5px;
}
.form-group {
	margin-left: 20px !important;
    margin-right: 20px !important;
}
.tapped_back{
	background-color: beige !important;
}
.map_container {
	height:100%;
}
.map_container>.scroll{
  height:100%
}
.ng-scope{
	height: inherit;
}

/*
* Locations template
*/
table {
 	height: auto !important;
}
.coords_td {
	max-width: 100px;
}

/*
* Create Location
*/
.add_form {
	margin-top: 10px;
}

/*
* Categories page
*/
.cat_form {
	margin-top: 30px;
}
.cat_form input { 
	display: inline-block !important;
    width: auto !important;
}

.category_belt {
	height:auto;
}

/*
* For Mobile Devices
*/
@media (max-width:400px){
	.nav li a {
    	padding: 10px 5px;
	}
}