  <nav class = "navbar navbar-default navbar-fixed-bottom bottom-bar" role = "navigation">
  	<span class="glyphicon glyphicon-erase erase" ng-click="erase()"></span>
  	<span class="glyphicon glyphicon-envelope envelope" ng-click=""></span>
   <div class="row bottom-menu">
      <span ui-sref="locations" class="glyphicon glyphicon-globe" ui-sref-opts="{reload: true, notify: true}"></span>
      <span ui-sref="categories" class="glyphicon glyphicon-tasks" ui-sref-opts="{reload: true, notify: true}"></span>
   </div>

</nav>

