<!-- Category List -->
<table ng-hide="edit" class = "table table-striped">
   <thead>
      <tr>
         <th>Category</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="cat in categories | orderBy:'+'">
         <td ng-click="vibrate($event, cat)">{{cat}}</td>
      </tr>
   </tbody>
</table>
<!--
<div class="form-group category_belt">
      <button type="button" class="btn btn-success" ng-click="getCoordinates()">Filter</button>
      <button type="button" class="btn btn-success" ng-click="getCoordinates()">Edit</button>
      <button type="button" class="btn btn-success" ng-click="getCoordinates()">Remove</button>
</div>  Category ToolBelt -->

 <!-- Add Category Form -->
   <form ng-hide="edit" ng-submit="addCategory()" class="form-horizontal cat_form">
      <div class="form-group">
         <input required ng-model="new_category" class="form-control" type="text" placeholder="New Category">
         <input type="submit" class="btn btn-info" value="Add Category"/>
      </div>
   </form>

   <!-- Edit Category Form -->
   <form ng-show="edit" ng-submit="addCategory()" class="form-horizontal cat_form">
      <div class="form-group">
         <input required ng-model="new_category" class="form-control" type="text">
         <input type="submit" class="btn btn-info" value="Update Category"/>
      </div>
   </form>