<form ng-submit="addLocation()" class="add_form form-horizontal">
	<div class = "form-group">
   		<input required ng-model="myForm.name" type="text" class="form-control" placeholder="Name">
   	</div>
   	<div class = "form-group">
   		<input required ng-model="myForm.address" type="text" class="form-control" placeholder="Address">
	</div>
	<div class = "form-group">
   		<input required ng-model="myForm.coordinates[0]" type="text" class="form-control" placeholder="Latitude">
   	</div>
   	<div class = "form-group">
   		<input required ng-model="myForm.coordinates[1]" type="text" class="form-control" placeholder="Longitude">
   	</div>
   	<div class = "form-group">
   		<select ng-model="myForm.category" class="form-control">
            <option value="">Select Category</option>
            <option ng-repeat="cat in categories" value="{{cat}}">{{cat}}</option>
         </select>
   	</div>
   	<div class = "form-group">
   		<input type="submit" class="btn btn-info" value="Submit"/>
         <button type="button" class="btn btn-success" ng-click="getCoordinates()">Get Coordinates</button>
   	</div>
</form>