<table class = "table table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Address</th>
         <!-- <th>Coordinates</th> -->
         <th>Category</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="loc in locations | orderBy:'name'" ng-click="vibrate($event, loc)" >
         <td>{{loc.name}}</td>
         <td>{{loc.address}}</td>     
         <!-- <td class="coords_td">{{loc.coordinates}}</td> -->
         <td>{{loc.category}}</td>
      </tr>
   </tbody>
</table>