<nav id="top_nav" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav navbar-header">
      <a class="navbar-brand" ui-sref="locations" ui-sref-opts="{reload: true, notify: true}">My Locations</a>
    </div>
      <ul class="nav navbar-nav">
        <li><a href="#" ng-click="view()">View</a></li>
        <li><a ui-sref="add-location">Add</a></li>
        <li><a href="#" ng-click="removeItem()">Remove</a></li>
        <li><a href="#" ng-click="edit()">Edit</a></li>
      </ul>
  </div>
</nav>
